# Banco de dados
POSTGRES_DB=tppe
POSTGRES_USER=tppe
POSTGRES_PASSWORD=tppe
DB_PORT=5432

# Backend
BACKEND_PORT=8000
SECRET_KEY=dev-secret-key
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1,backend

# Frontend
FRONTEND_PORT=3000
VITE_API_URL=http://localhost:8000

# Ferramentas
ADMINER_PORT=8080
DOCS_PORT=8001
